<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <title>Oops exception detected !!!</title>
    <body>
        <h1>Mazeo Framework</h1>
        <h2>Oops exception detected !!!</h2>
        <h3>{{ statusMsg.code }} - {{ statusMsg.text }}</h3>
        <h3>{{ exception.name }} - {{ exception.message }} in {{ exception.file }} on line {{ exception.line }}</h3>
        <h3>StackTrace - {{ exception.stackTrace }}</h3>
    </body>
</html>